@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');
.sub {
    color: red;
    background-color: azure;
    border-radius: 10px;
}
h2 {
    font-family: Comic Sans MS;
    text-align: left;
    color:rgb(23,23,101);
   font-family: 'Poppins', sans-serif;
    
}
body {
    margin: 0px;
    padding: 0px;
    background: rgb(23,23,101);
}

header {
    font-family: Arial Sans-Serif;
    background-color: azure;
    color: azure;
    text-align: center;
    padding: 5px;
    margin: 0px 0px 40px 0px;
}
main {
    padding: 10px;
    margin: auto;
    border-radius: 25px 10px 25px;
    background-color: azure;
    color: azure;
    text-align: center;
    width: 80%;
}
ul {
    text-align: left;
}
img {
    height: 40px;
    width: 40px;
}
.titulo {
    font-size: 3em;
}
.pyy {
    color: yellow;
}
p {
    background-color: blue;
    border-radius: 10px;
    
}
h1 {
color: rgb(23,23,101);
font-family: 'Poppins', sans-serif;
}
img {
    width: 50px;
    height: 50px;
}
